@import "tailwindcss";

@theme {
  --color-anime-bg: #0b0e14;
  --color-anime-surface: #161b22;
  --color-anime-primary: #ff2a4b;
  --color-anime-cyan: #00e5ff;
  --color-anime-gold: #ffb800;
  --color-anime-text: #ffffff;
  --color-anime-muted: #8b949e;

  --font-heading: "Syne", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}
