@import "tailwindcss";

@theme {
  --color-anime-bg: #0b0e14;
  --color-anime-surface: #161b22;
  --color-anime-primary: #ff2a4b;
  --color-anime-cyan: #00e5ff;
  --color-anime-gold: #ffb800;
  --color-anime-text: #ffffff;
  --color-anime-muted: #8b949e;
  --font-heading: "Syne", sans-serif;
  --font-sans: "Plus Jakarta Sans", sans-serif;
}

.swiper-pagination{
  padding: 20px;
}
.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background-color: #cbd5e1 !important;
  opacity: 1 !important;
  transition: all 0.3s ease !important;
  border-radius: 9999px !important;
}

.swiper-pagination-bullet-active {
  width: 24px !important;
  background-color: #00e5ff !important;
}

.swiper-pagination {
  pointer-events: none !important;
}

.swiper-pagination-bullet {
  pointer-events: auto !important;
  cursor: pointer !important;
}